__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
*.egg-info/
.installed.cfg
*.egg
uploads/
.DS_Store
*.log
.vscode/
.env
.idea/
*.swp
*.swo
